<html>
<head>
    <title>
        Geolocation Webapp
    </title>
</head>>
<body>
    <h2>GEO API</h2>
    <h3>Find out which location your desired IP address is</h3>
    <br>
    <form action="/ip_address" method="get">
        <label for="ip_address">Your IP address : </label>
        <input id="ip_address" type="text" name="ip_address" placeholder="Input your desired IP">
        <input type="submit" value="Find your location">
    </form>
    <br>
    <iframe width="640"
          height="480"
          frameborder="1"
          src="{{ flag }}"
          allowfullscreen></iframe>
    <br>
    <p>Your IP address is <strong>{{ ip }}</strong>, and you are probably in <strong>{{ country }}, {{ continent }}</strong> right now 
        <br>within the timezone of <strong>{{ timezone }}</strong> ({{ gmt }})
        <br><strong>specifically</strong> :
        <br>Longitude : {{ longitude }}
        <br>Latitude : {{ latitude }}
    </p>
    <br>
    {{ org }}

</body>
</html>